<div id="masonry-container" class="grid">
		<%= render :partial => 'jobs', :order => ('jobs desc') %>
</div>

<div class="section-footer">
	<nav id="page-nav">
  <a href="../pages/2.html"></a>
</nav>

</div>



