<div id="masonry-container" class="grid transitions-enabled infinite-scrolling isotope clearfix">
		<%= render :partial => 'jobs', :order => ('jobs desc') %>
</div>

<div class="section-footer" style="display:none;">
	<ul class="footer-nav">
		<li class="pull-left"><%= paginate @jobs %></li>
	</ul>
</div>




