// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFEB3B;
	font-family: 'Lora', serif;
}

.container-fluid {
  height: 100%;
  margin-bottom: 20px;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

aside {
	color: #000000;
	overflow: auto;
	display: block;
}

section {
	background: #000000;
	color: #f2f2f2;
	display: block;
	// overflow: auto;
}

h2, h3, h4, h5, h6 {
	font-family: 'Oswald', serif;
	// color: #141414;
	letter-spacing: .065em;
	line-height: 1.35em;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	font-weight: 700;
  line-height: 1.1471em;
  padding-top: 0.3824em;
}

a {
	color: #f2f2f2;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

select {
	margin-top: 10px;
	margin-bottom: 20px;
}

// Left Panel
select#Job_Function {
	border: none;
  border-radius: 0;
  overflow: hidden;
  line-height: 1.2em;
  color: #999;
  box-sizing: border-box;
  background-color: #fff;
  -webkit-appearance: button;
  width: 100%;
  padding: 10px;
}

aside.left {
  // background: #FFEB3B;
  // padding: 30px;
  height: 100%;
  overflow: auto;
}

section.right {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}

#masonry-container {
	background: #000000;
}

ul.main-nav {
	background-color: #FFEB3B;
	border: none;
}

.main-buttons {
	background-color: #000;
  border: none;
}

.btn, .btn-lg, .btn-primary {
	border-radius: 0;
}

.user-buttons {
	border: none;
	font-family: 'Oswald', serif;
	display: inline-block;
	margin: 0 10px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 700;
	outline: none;
	background: none;
	cursor: pointer;
  width: 40%;
  float: left;
 	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.user-buttons:after {
	content: '';
	// position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	// border: 3px solid #fff;
	background-color: #FFEB3B;
	color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #0e83cd;
	background: #fff;
}

.section-footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
	// height: 10%;
}

.job {
	padding: 10px;
	// margin: 2px;
}

.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item { width: 25%; }

.grid-item {
	position: relative;
	float: left;
	overflow: hidden;
	// width: 24.5%;
	height: 0;
	padding-bottom: 25%;
	border: 1px solid #f2f2f2;
}

.grid-item:hover {
	// border: 0.5px solid #FFEB3B;
	background-color: #FFEB3B;
	color: #000;
}

// .grid-item.Design { background: #F00; background: hsl(   0, 100%, 50%); }
// .grid-item.Technology { background: #F80; background: hsl(  36, 100%, 50%); }
// .grid-item.Digital { background: #08F; background: hsl( 216, 100%, 50%); }

.grid-header {
	margin-top: 5px;
}

h3.grid-header:hover,
h4.grid-company:hover {
	// border: 0.5px solid #FFEB3B;
	// background-color: #FFEB3B;
	// color: #000;
	text-decoration: none;
}

footer {
	width: 100%;
  position: absolute;
  bottom: 5px;	
}

.grid-company {
	color: #f2f2f2;
}

.edit-buttons {
	width: 100%;
	list-style-type: none;
	display: inline;
}

.header-title,
.header-title:hover {
	position: relative;
  padding-bottom: 26px;
  margin-bottom: 26px;
	text-decoration: uppercase;
}

.header-title > a,
.header-title > a:hover {
		color: #000000;
		text-decoration: none;
}

.header-title:after {
	content: "";
  width: 100%;
  max-width: 104px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-subtitle {
	font-size: 1.6em;
	font-weight: 700;
	margin-top: 35px;
}

// This applies from 0px to 600px
@media (max-width: 600px) {
  // body {
  //   background: red;
  // }

  aside.left {
		height: auto;
		padding: 30px;
  }

  article {
  	display: none;
  }

  section {
		// margin: 5px; 
  }

  footer {
  	width: 100%;
  	font-size: 0.75em;
		// padding-right: 10px;
  }
	
	.header-title {
		font-size: 3em;
	}

  .grid-sizer,
	.grid-item { width: 50%; }

	.grid-item { 
		padding-bottom: 50%;
		line-height: 0.6em;
	}
	
	.grid-date {
		font-size: 0.75em;
		font-style: italic;
	}

	.grid-header { 
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 0.125em;
	 }

	.grid-company { 
		font-size: 0.8em;
		letter-spacing: 0.125em;
	}
	.grid-city { font-size: 0.8em; }
	.grid-tags { font-size: 0.75em; }
	.edit-buttons { 
		width: 100%;
		padding-left: 10%;
		list-style-type: none;
		display: inline;
	}
}